@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f1f1f1;
  --white-faded: #f1f1f179;
  --black: #090110;
  --black-faded: #09011079;
  --gray: #5e5e5e;
  --gray-faded: #5e5e5e4c;
  --purple: #470089;
  --purple-faded: #47008979;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -100;
}

.background{
  background: url("../assets/4077186_17580.jpg");
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  text-decoration: none;
  color: black;
}
button:hover,
button:focus {
  text-decoration: none;
  color: black;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  cursor: default;
}

li {
  list-style: none;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  padding: 0 2rem;
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--gray) !important;
}

.nav-logo {
  margin-left: 40px;
}

.nav-logo a {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: var(--black);
  font-weight: 800;
}

.active {
  color: var(--purple) !important;
}

.active:hover {
  color: var(--purple) !important;
}

.nav-mode {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.nav-mode i {
  font-size: 25px;
  color: var(--black);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav-mode i:hover {
  color: var(--gray);
}

#menu {
  font-size: 25px;
  color: var(--black);
  cursor: pointer;
  display: none;
}
.res-nav-panel{
  background-color: var(--white);
  width: fit-content;
  position: absolute;
  right: 13%;
  padding: 1rem 2rem;
  transform: translate(0px,-20px);
  z-index: 50;
  border-radius: 5px;
  box-shadow: #47008952 0 0 10px 5px;
  display: none;
}

.res-nav-link {
  font-family: "Poppins", sans-serif;
  /* padding: 0 2rem; */
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}

.res-nav-color{
  color: var(--purple) !important;
}

.res-nav-toggle{
  display: block;
}



@media screen and (max-width: 480px) {
  
  #menu {
    display: block;
    padding: 0 1rem;
  }
  .nav-menu {
    display: none;
  }

  .nav-logo a {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    color: var(--black);
    font-weight: 800;
  }
  .nav-logo {
    margin-left: 15px;
  }

  .nav-mode {
    margin-right: 15px;
    display: flex;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.main-panel {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.main-text-area {
  width: 60%;
  margin-left: 2.5rem;
}

.main-text {
  margin: 1rem 0rem 1rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
}

.main-title-area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.main-title-area h4 {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--black);
  font-size: 64px;
}

.main-title-img {
  width: 20%;
  margin: 0.5rem 0rem;
  width: 160px;
  height: 160px;
  border-radius: 50%;

  overflow: hidden;
}

.main-title-img img {
  width: 100%;
  transform: translate(-70px, 22px) scale(2);
}

.main-text h3 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-size: 80px;
  font-weight: 800;
}

.main-text h6 {
  font-size: 24px;
  width: 70%;
  font-weight: 400;
  margin: 0.5rem 0;
  color: var(--black);
}

.main-img-area {
  width: 40%;
}

.main-img {
  width: 70%;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: #0901103f 15px 15px 10px 5px;
}

.main-img-img {
  width: 100%;
  border-radius: 5px;
  height: inherit;
  transition: 0.2s ease-in-out;
  transform: scale(1.015);
}

.main-img-img:hover {
  transform: scale(1.13);
}

.main-img:hover {
  box-shadow: #09011055 15px 15px 10px 5px;
}

@media screen and (max-width: 480px) {
  .main-panel {
    display: flex;
    flex-direction: column;
    margin: 3rem 1.2rem;
  }
  .main-img-area {
    width: 100%;
  }

  .main-text-area {
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 50px;
  }

  .main-text {
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
  }

  .main-title-img {
    margin: 0.5rem auto;
  }

  .main-title-area h4 {
    font-size: 35px;
    margin-top: 25px;
  }

  .main-text h3 {
    font-size: 40px;
  }
  .main-text h6 {
    font-size: 20px;
    width: 100%;
  }

  .main-img {
    width: 100%;
    box-shadow: #0901103f 0px 10px 10px 5px;
  }

  .main-img:hover {
    box-shadow: #09011055 0px 10px 10px 5px;
  }

  .main-img-img {

    transform: scale(1.02);
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.now-area {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  padding: 1rem;
}

.now-title-area {
  text-align: center;
}

.now-title-area h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: var(--purple);
}

.now-underline {
  border: none;
  border-top: 0.1rem solid var(--gray-faded);
  width: 80%;
  border-radius: 10px;
  margin: 2rem auto;
}

.now-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.now-card {
  width: 25%;
  margin: 1rem 1rem;
  text-align: center;
  padding: 1rem;
}

#icon {
  transform: translate(0, 0px);
  font-size: 55px;
  margin: 1rem 0;
  color: var(--gray);
  transition: 0.2s ease-in-out;
}

#title {
  transform: translate(0, 0px);
  font-size: 28px;
  font-weight: 500;
  color: var(--gray);
  transition: 0.2s ease-in-out;
}
#alt-title {
  transform: translate(0, 0px);
  font-weight: 400;
  margin: 0.5rem 0;
  color: var(--gray);
  transition: 0.2s ease-in-out;
}

.now-card:hover #icon {
  transform: translate(0, -10px);
  color: var(--purple);
}
.now-card:hover #title {
  transform: translate(0, -10px);
  color: var(--purple);
}
.now-card:hover #alt-title {
  transform: translate(0, -10px);
  color: var(--purple);
}

@media screen and (max-width: 480px) {
  .now-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .now-card {
    width: 100%;
    margin: 1rem 0rem;
    text-align: center;
    padding: 1rem;
  }
  .now-title-area h4 {
   
    font-size: 35px;
  
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

.work-panel {
  margin: 1rem 0;
  padding: 2rem 1rem;
}

.work-title-area {
  text-align: center;
}
.work-title-area h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--gray);
}
.work-title-area h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: var(--purple);
}
.work-title-area p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  width: 60%;
  margin: 0 auto;
}

.work-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 8rem;
}

.work-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.work-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.work-card-img-area {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transform: translate(0, 0px);
  transition: 0.2s ease-in-out;
  box-shadow: #09011031 0 0 10px 3px;
}
.work-card-img {
  width: 100%;
}
.work-card-img-area:hover {
  width: 100%;
  transform: translate(0, -10px);
}

.work-card-text {
  padding: 1rem 0rem;
}
.work-card-text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--gray);
}

.work-card-text a {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: var(--black);
  transition: 0.2s ease-in-out;
}
.work-card-text a:hover {
  color: var(--purple);
}

.work-card-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--gray);
  margin: 0.5rem 0;
}

.work-btn {
}

.work-btn a {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--purple);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  border: 3px solid #470089;
  border-radius: 10px;
  padding: 1rem;
}
#work-icon {
  font-size: 25px;
  transform: translate(0, 0);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.work-btn a:hover #work-icon {
  transform: translate(3px, 0);
}

@media screen and (max-width: 480px) {
  .work-title-area h4 {
    font-size: 35px;
  }

  .work-title-area p {
    font-size: 16px;

    width: 80%;
  }

  .work-title-area h5 {
    font-size: 15px;
  }
  .work-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.work-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.work-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1rem;
}

.work-card-text p {

  font-size: 18px;

}

.work-btn a {

  font-size: 18px;
  border: 3px solid #470089;
  border-radius: 10px;
  padding: .8rem;
}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
